footer {
  width: 100vw;
  height: auto;
  background-color: rgb(54, 70, 82);
  color: rgb(252, 246, 235);

  position: absolute;
  bottom: 0px;
  margin-top: 10px;
}
footer img {
  width: 30px;
  height: auto;
  margin: 10px 5px 0px 5px;
}

footer p {
  margin: 5px;
}
