.form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50vw;
  border-radius: 15px;
  background-color: rgb(96, 170, 167);
}
.form-container label {
  display: inline-block;
  width: 150px;
  /* text-align: right; */
}
.form-container input {
  display: inline;
  width: 30%;
  flex-grow: 3;
}
.form-container button {
  max-width: 100px;
}
#form-submit {
  align-self: unset;
}
textarea {
  resize: none;
}
