.add-recipe-container {
  width: 75vw;

  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgb(96, 170, 167);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "H H H H"
    "F F I I"
    "F F I I"
    "F F S S"
    "F F S S";
  /* grid-gap: 10px; */
  margin: 15px 0px 70px 0px;
}
.form-header {
  grid-area: H;
  font-family: "sigmar one";
  color: rgb(237, 199, 109);
}
.form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* width: 40vw; */
  box-sizing: border-box;
  margin: 15px;
  /* padding: 10px; */
  border-radius: 15px;
  grid-area: F;
  background-color: rgb(237, 199, 109);
}
.form-container label,
input,
button {
  margin: 5px;
  min-width: 50%;
  max-width: 75%;
}
.form-ingredients-list {
  grid-area: I;
  background-color: rgb(237, 199, 109);
  border-radius: 15px;
  margin: 15px;
}
.form-steps-list {
  grid-area: S;
  background-color: rgb(237, 199, 109);
  border-radius: 15px;
  margin: 15px;
}
.form-steps-list p {
  margin: 0px 5px;
}
.form-container label {
  display: inline-block;
  width: 150px;
  /* text-align: right; */
}
.form-container input {
  display: inline;
  width: 30%;
  flex-grow: 3;
}
.form-container button {
  max-width: 100px;
}
#form-submit {
  align-self: unset;
}
textarea {
  resize: none;
}
