.nav {
  height: 80px;
  width: 100vw;
  background-color: rgb(237, 199, 109);
}
.link {
  font-size: 25px;
  color: rgb(220, 112, 73);
  text-decoration: none;
  padding: 15px 15px;
  float: right;
  font-family: "Sigmar One", serif;
}
#title {
  float: left;
  font-size: 50px;
  margin-left: 20px;
  color: rgb(54, 70, 82);
  text-decoration: none;
  font-family: "Monoton", cursive;
}
