.nav {
  box-sizing: border-box;
  height: 80px;
  width: 100vw;
  background-color: #ee6c4d;
  font-family: "Poppins", sans-serif;
}
.link {
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  float: right;
}
#title {
  float: left;
  font-size: 50px;
  color: white;
  text-decoration: none;
}
