.home-container {
  /* height: vh; */
  margin-bottom: 105px;
}
.home-container h1 {
  color: rgb(220, 112, 73);
}
#featured-recipes-container {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  /* border-radius: 50px; */
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* display: grid; */
  /* background-color: rgb(96, 170, 167); */
  /* box-sizing: border-box;
  grid-template-columns: 25vw; */
  /* min-height: 100vh; */
}
/* #featured-recipes-container img {
  width: 50vw;
  height: auto;
  margin-bottom: 60px;
} */
#featured-recipes-container h1 {
  /* position: relative;
  top: 60px; */
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  width: 100%;
  margin-top: 0;
  padding: 10px;
  color: rgb(252, 246, 235);
  background-color: rgba(0, 0, 0, 0.5);
}
#featured-recipes-container p {
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 10px;
  width: 100%;
  color: rgb(252, 246, 235);
  background-color: rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}
/* @media (max-width)
.home-container { */
