#featured-recipes-container {
  border-radius: 50px;
  text-decoration: none;
  /* display: grid; */
  /* background-color: rgb(96, 170, 167); */
  /* box-sizing: border-box;
  grid-template-columns: 25vw; */
  /* min-height: 100vh; */
}
#featured-recipes-container img {
  width: 50vw;
  height: auto;
  margin-bottom: 60px;
}
#featured-recipes-container h1 {
  position: relative;
  top: 60px;
  width: 50vw;
  color: rgb(252, 246, 235);
  background-color: rgba(0, 0, 0, 0.5);
}
#featured-recipes-container p {
  position: relative;
  bottom: 120px;
  width: 50vw;
  color: rgb(252, 246, 235);
  background-color: rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}
