.home-container {
  margin-bottom: 105px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.home-container h1 {
  color: rgb(220, 112, 73);
}
#featured-recipes-container {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#featured-recipes-container h1 {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-top: 0;
  padding: 10px;
  color: rgb(252, 246, 235);
  background-color: rgba(0, 0, 0, 0.5);
}
#featured-recipes-container p {
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 10px;
  width: 100%;
  color: rgb(252, 246, 235);
  background-color: rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  #featured-recipes-container h1 {
    font-size: 20px;
  }
}
