.detailed-recipe-container {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Head Head "
    "Photo Ing"
    "Step Step";
  margin-bottom: 105px;
}

.detailed-recipe-title {
  grid-area: Head;
  font-size: 7vw;
}
.detailed-recipe-photo {
  grid-area: Photo;
  max-width: 500px;
  height: auto;
}
.detailed-recipe-photo img {
  object-fit: cover;
  max-width: 40vw;
  max-height: auto;
}
.detailed-recipe-ingredients {
  grid-area: Ing;
  justify-self: center;
  text-align: center;
}
div.detailed-recipe-ingredients > p {
  margin: 5px 5px 5px 10px;
  text-align: left;
}
.detailed-recipe-steps {
  grid-area: Step;
  justify-self: center;
  text-align: center;
}

.detailed-recipe-steps > p {
  margin: 3px;
  text-align: justify;
}
.original-source {
  padding: 10px 0px;
  font-weight: bold;
  text-align: left;
}
@media screen and (max-width: 700px) {
  .detailed-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
