.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-items: center;
  /* background: url(https://i.imgur.com/UtdKpCF.jpg) no-repeat center center fixed;
  background-size: cover; */
  background-color: rgb(252, 246, 235);
  min-height: 100vh;
  font-family: "Vidaloka", sans-serif;
}

.recipes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-bottom: 60px;
}
