.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgb(252, 246, 235);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.App h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sigmar One", serif;
}
